<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
    {{>navbar}}
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto" style="display: flex;">
          <!-- Left Side Div -->
          <div class="col-md-6 col-12 main_header_right">
            <figure>
               <img
                class="img-fluid"
                src="https://scontent.fisb5-1.fna.fbcdn.net/v/t1.6435-9/120998021_161862415578485_5522528071932369304_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=7a1959&_nc_ohc=K5VqvXXkhPoAX9rZTpn&_nc_ht=scontent.fisb5-1.fna&oh=00_AfB684b90sYyYMH2rcbyWLoelE0J8RN9PqaC0Bj71VnYog&oe=65C1047C"
                alt="Khizar ALi"
              />
            </figure>
          </div>
          <!-- Right Side Div -->

          <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to Khizar Ali world.</p>
            <h1>
              I Am A<span class="text-clr">Mern Stack Developer</span> Youtuber
              and a Freelancer.
            </h1>
            <a
              href="https://www.facebook.com/programmingwithKhiZi/"
              target="_blank"
              ><button>About Me</button></a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Section -->
    {{>footer}}
  </body>
</html>
